.button {
  -fx-background-color: #3c3c3c;
  -fx-alignment: CENTER;
  -fx-text-fill: #96b946;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
}
.button:hover{
  -fx-background-color: #e6e6e6;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
  -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
  -fx-text-fill: white;
}

.vBox {
  -fx-background-color: white;
}

.list-cell:even {
  -fx-background-color: white;
}
.list-cell:odd{
  -fx-background-color: lightgray;
}

.list-cell:filled:hover {
  -fx-background-color: #0093ff;
  -fx-text-fill: white;
}

.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 30;
}
.tab {
  -fx-background-insets: 0 2 0 2,0,0;
}
.tab-pane .tab {
  -fx-background-color: #e6e6e6;
}
.tab-pane .list-view {
  -fx-padding: 10 20 10 20;
}
.vBox {
  -fx-padding: 10 20 10 20;
  -fx-spacing: 10;
}
.vBox .button{
  -fx-padding: 8 15 15 15;
  -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
  -fx-background-radius: 8;
  -fx-background-color:
      linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
      #9d4024,
      #d86e3a,
      radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
  -fx-font-weight: bold;
  -fx-font-size: 1.1em;
  -fx-text-fill: white;
}
.vBox .button:hover {
  -fx-background-color:
      linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
      #9d4024,
      #d86e3a,
      radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.vBox .button:pressed {
  -fx-padding: 10 15 13 15;
  -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}


.tab-pane .tab:selected {
  -fx-background-color: #3c3c3c;
}
.tab .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: #828282;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
}
.tab:selected .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: #96b946;
}


.command-tab {
  -fx-alignment: CENTER;
  -fx-background-color: lightblue;
}


#run-button {
  -fx-padding: 8 15 15 15;
  -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
  -fx-background-radius: 8;
  -fx-background-color:
      linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
      #9d4024,
      #d86e3a,
      radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
  -fx-font-weight: bold;
  -fx-font-size: 1.1em;
  -fx-text-fill: white;
}
#run-button:hover {
  -fx-background-color:
      linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
      #9d4024,
      #d86e3a,
      radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#run-button:pressed {
  -fx-padding: 10 15 13 15;
  -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}